# Qyrex / Render environment
PORT=10000
MONGO_URI=
JWT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://qyrex.hopto.org/auth/discord/callback
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openrouter/auto
OPENROUTER_SITE_NAME=Qyrex
OPENROUTER_SITE_URL=https://qyrex.hopto.org
ADMIN_ACTION_CODE=
API_KEY=
QYREXOBF_API_KEY=
QYREXOBF_URL=
QYREX_ENGINES=
QYREX_LUA=
QYREX_LUAC=
QYREX_SITE_ROOT=qyrex.hopto.org
VOLTILS_API_KEY=
VOLTILS_ENDPOINT=https://voltils.nxtdev.xyz/v1/obfuscate
